* {
    margin: 0;
    padding: 0;
}

.header {

height: 608px;
z-index: 1;
   position: relative;
    padding-bottom: 5px;
    background-image: url(/about/images/shutterstock_277750193.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
 

}

.navbar {
    display: flex;
    align-items: center;
    /* يحركهم عمودي */
    justify-content: center;
    /* يحركهم أفقي */

    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 100;



}

.nav-contaner {
    width: 100%;
    height: 90px;
    margin-inline: 62.333px;
    padding-inline: 16.875px;
}

.nav-left {
    float: left;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 13px;
}

.nav-right {
    float: right;

    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}


.nav-right a {


    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-inline: 14px;

    height: 88px;




}

.nav-left a {
    margin-inline: 18px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}


.inner {

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    display: flex;

    justify-content: center;
}

.inner-contant {
   

}

.image{
    width: 700px;
}
 
.image img{
    margin-inline: 150px;
    margin-bottom: 20px;
}

.contant {
display: flex;
background-color: #968d7c;

   

}

h1 {
    font-family: "Alegreya";
    color: white;
    font-size: 76px;
    margin-bottom: 18px;
    font-weight: 200;

}

.par {
    font-size: 40px;
    margin-top: 10px;
    font-family: "Dancing Script";
    font-weight: normal;
    color: whitesmoke;
    margin-bottom: 20px;
    height: 74px;

}

.buttons {
    display: flex;


align-items: center;
    justify-content: space-evenly;
    
width: 700px;
margin-top: 30px;

height: 69px;



  

}

.btn {
    border: 2px solid white;
    border-radius: 6%;
    padding: 20px;

    padding-inline: 30px;
    text-decoration: none;
    font-family: "Alegreya";
    font-weight: bold;
}

.btn1 {
    background-color: rgb(150, 141, 124);
    color: white;
    margin-left: 120px;

}

.btn2 {
    background-color: white;
    color: black;
    margin-right: 120px;
}

.btn1:hover {
    background: white;
    color: black;
}

.btn2:hover {
    background: #968d7c;
    color: white;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: white;
    color: rgba(28, 28, 25, 0.7);
    font-family: "Alegreya Sans";
    font-size: 18px;
    min-height: 80vh;
    /* بدل height: 100vh */
    padding: 120px 60px;
    /* padding فوق عشان ما يلتصق */

}

.first {
    display: block;

    padding-left: 80px;
    padding-block: 80px;
    font-family: "Alegreya";
    margin-left: 70px;
}

h2,
h4 {
    font-size: 42px;
    font-family: "Alegreya";
    font-weight: 200;
    color: rgb(18, 16, 13);

}

h3,
h5 {
    font-size: 22px;

    margin-top: 10px;
    
    font-family: "Playwrite HU", cursive;
    color: rgb(121, 75, 16, 0.7);

}

.first p {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 5px;
    line-height: 1.86;
    width: 100%;

}

.olist {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    height: 40vh;
    line-height: 2.5;
}

.olist li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.olist i {
    border: solid white 1px;
    color: white;
    margin-right: 20px;
    background-color: rgba(135, 89, 14, .5);
    width: 52px;
    height: 52px;
    border-radius: 100%;
    line-height: 52px;
    font-size: 24px;
    top: 2px;

}


.ima {
    display: flex;
    margin-top: 20px;
    padding-top: 20;
    margin-left: 1px;
    margin-right: 10px;
    width: 550px;
    height: 600px;

}

.ima img {
    width: 400px;
    height: 500px;
    filter: drop-shadow(10px 10px 20px rgb(83, 79, 79));
}

.about {
    display: flex;

    /* background-image: url('/images/ابيض.png');*/
    background-color: whitesmoke;
    color: rgba(28, 28, 25, 0.7);
    
    justify-content: space-between;
   
    padding-block: 90px;
    padding-inline: 63px;
}


.para {

    display: inline-block;
color: rgba(39, 37, 37, 0.);
    font-size: 18px;
    width: 50%;
  
     font-family: "Alegreya";
    padding-top: 20px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;

}

.para p {

    display: block;

    margin-bottom: 18px;

    line-height: 1.86;
    width: 100%;
    
    /* background-color:blue*/
}

.list {

    list-style: none;

width: 100%;
margin-bottom: 18px;


}

.list li {


    display: flex;
    align-items: center;

    
}

.list li i {

    display: flex;
    width: 22px;
    margin: 0px 10px 0px 0px;
    text-align: center;
    color: rgba(130, 88, 21, 0.379);
    margin-right: 9px;
    border-radius: 100%;
    line-height: 52px;
    font-size: 16px;
    top: 2px;

}

.img {
    display: flex;
  
 
    width: 547px;
    height: 483px;
    
    padding-left: 22px;


}

.img img {

    width: 540px;
    height: 433px;
}



.bg-attachment{
    height: 501px;
    background-color: aqua;
    background-image:url(/about/images/Best-Restaurants-In-Positano-Italy-scaled.jpg); 
    background-attachment:fixed;
  
}

.Menu{
    height: 1205px;
     display: flex;
  
    padding-top: 70px;
    padding-bottom: 75px;
    padding-inline: 62px;
}



.fi h1{
    font-family: "Alegreya";
    color: black;
    font-size: 32px;
width: 1110px;
  height: 49px;
  text-align: center;
margin-bottom: 8px;
    
}

.se h2{
   

  font-family: "Playwrite HU", cursive;
 

    color: rgb(179, 117, 26,.6);
    font-size: 20px;
width: 1110px;
  height: 49px;
  text-align: center;
margin-bottom: 45px;
    
}

.top{
   
    height: 454px;
    width: 1140px;
    padding-bottom: 40px; 

}

.bottom{
   
     height: 454px;
    width: 1140px;
    padding-bottom: 50px;
}

.cards{
    display: flex;
    justify-content: space-between;
 align-items: center;

}

.card{

   
    width: 380px;
    height: 458px;
}

.card1{


}

.card2{

    
}

.card3{

    
}

.im{
    
width: 345px;
height: 287px;

margin-bottom: 30px;
}

.im img{
   
    width: 100%;
height: 100%;
}

.ti{
    margin-bottom: 15px;
}

.ti h4{
    font-size: 21px;
    text-align: center;

}

.pa{
    margin-bottom: 30px;
}

.pa p{
    font-size: 21px;
    color:#979288;
   
    
}

.under{
    width: 1110px;
    height: 61px;
    
display: flex;
justify-content: center;


}





.b1 {
   
    background-color: rgb(146, 127, 92);
    color: white;

 border: 2px solid white;
    border-radius: 6%;
    padding: 20px;

    text-decoration: none;
    font-family: "Alegreya";
    font-weight: bold;
}

.our{
    width:1140px ;
    height: 644px;
      background-image: url(/about/images/shutterstock_277750193.jpg);
       background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
      padding-left: 62px;
      padding-right: 62px;
      padding-top: 100px;
      padding-bottom: 75px;
}

.in{
    width: 1140px;
    height: 469px;
    position: relative;
    
  
}

.qicon{
 
 display: flex;
    width: 1110px;
    height: 60px;
    margin-bottom: 15px;
    justify-content: center;
  

}

.qicon i{
  

    color: white;
    font-size: 40px;
}

.ab{
    width: 1110px;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.ab h1{
    font-size: 32px;
    font-weight: 400px;
     color: white;
       font-family: "Alegreya";
}

.p{
    width: 999px;
    height: 192px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 40px;
}

.p p{
    color: white;
    font-size: 32px;
    font-weight: normal;
      font-family: "Alegreya";
      line-height: 2em;
}

.apple{
    width: 1110px;
    height: 68px;
  
    
  

}
.p1{
      width: 1110px;
    height: 33px;
   text-align: center;
    color: white;
     font-family: "Alegreya";
     font-size: 20px;
}

.p2{
      width: 1110px;
    height: 33px;
  text-align: center;
    color:slategray;
     font-family: "Alegreya";
     font-size: 20px;
     font-weight: lighter;
}

.where{
      display: flex;

    /* background-image: url('/images/ابيض.png');*/
    background-color:white;
    color: rgba(28, 28, 25, 0.7);
    
    justify-content: space-between;
   
    padding-block: 90px;
    padding-inline: 63px;
}
.titp{
margin-bottom: 30px;
}

.h4{
    margin-bottom: 25px;
}

.para11{
        display: inline-block;
color: rgba(39, 37, 37, 0.);
    font-size: 18px;
    width: 50%;
  
     font-family: "Alegreya";
   
    padding-right: 23px;
   

}
.para11 p {

    display: block;

    margin-bottom: 18px;

    line-height: 1.86;
    width: 100%;
    
    /* background-color:blue*/
}

.alon{
    margin-bottom: 18px;
}

.list11{
        list-style: none;

width: 100%;
margin-bottom: 18px;
}


.list11 li {


    display: flex;

    align-items: center;
    line-height: 4em;

    
}

.list11 li i {

    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background-color: #b59555;
    text-align: center;
  color: white;
    margin-right: 9px;
    border: 2px solid ;
    border-radius: 100%;
  align-items: center;
   
   

}


.img11 {
    display: flex;
  
 
    width: 547px;
    height: 565px;
    
    padding-left: 23px;


}

.img11 iframe {

  width: 100%;
  height: 100%;
}


.footer{
    width: 1264px;
    height: 929px;
    background-color: hsl(40, 43%, 11%);
}

.footertop{
     width: 1264px;
    height: 342px;
    background-color: #312d25 ;
    padding-top: 60px;
    padding-bottom: 52px;

}

.incontaner{
     width: 1106px;
    height: 342px;
    padding-left: 17px;
    padding-right: 17px;
   margin-left: 62px;
   margin-right: 62px;
}

 .row{
    display: flex;
    width: 1140px;
    height: 342px;
     padding-left: -17px;
    padding-right: -17px;
 }
.aboutus{
  
    width: 251px;
    height: 288px;
    padding-left: 17px;
    padding-right: 17px;
}

.abs{
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
     font-family: "Alegreya";
}
.num{
    height: 228px;
    line-height: 1.5em;
}

.one{
    margin-bottom: 20px;
    color: white;
    
     font-family: "Alegreya";
     height: 148px;
}

.two{
    color: white;
    
     font-family: "Alegreya";
}

.useful{
    
      width: 251px;
    height: 245px;
    padding-left: 17px;
    padding-right: 17px;
}

.lis{
    height: 187px;
}

.lis ul{
    width: 100%;
    height: 100%;
}

.lis ul li{
 width: 251px;
    height: 34px;
    border-bottom: 0.5px;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-color: rgb(64, 59, 49);
    border-style: solid;
    padding-bottom: 7px;
    margin-bottom: 6px;
    list-style-type:none;
    color: white;
    font-weight: lighter;
}

.lis a{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-inline: 14px;
font-weight: lighter;
    height: 88px;
}

.open{
       width: 251px;
    height: 342px;
    padding-left: 17px;
    padding-right: 17px;
}

.lis1{
    height: 284px;
}

.lis1 ul{
    width: 100%;
    height: 100%;
}

.lis1 ul li{
    width: 251px;
    height: 34px;
    border-bottom: 0.5px;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-color: rgb(64, 59, 49);
    border-style: solid;
    padding-bottom: 7px;
    margin-bottom: 6px;
    list-style-type:none;
    color: white;
    font-weight: lighter;
    
}

.lis1 a{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-inline: 14px;
font-weight: lighter;
    height: 88px;
}

.detail{
       width: 251px;
    height: 306px;
    padding-left: 17px;
    padding-right: 17px;
}

.map{
     width: 251px;
     height: 79px;
     padding-bottom: 12px;
     margin-bottom: 12px;
      border-bottom: 0.5px;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-color: rgb(64, 59, 49);
    border-style: solid;
line-height: 2em;
    color: white;
    font-size: 16px;
}
.map span{
    padding-left: 20px;
}
.map i{
    width: 18px;
    height: 18px;
}

.tel{
       width: 251px;
     height: 46px;
     padding-bottom: 12px;
     margin-bottom: 12px;
      border-bottom: 0.5px;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-color: rgb(64, 59, 49);
    border-style: solid;
line-height: 2em;
    color: white;
}

.tel span{
    padding-left: 20px;
}

.tel a{
    color: white;
      text-decoration: none;
}

.tel i{
    width: 18px;
    height: 18px;
}


.email{

       width: 251px;
     height: 46px;
     padding-bottom: 12px;
     margin-bottom: 12px;
      border-bottom: 0.5px;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-color: rgb(64, 59, 49);
    border-style: solid;
line-height: 2em;
    color: white;

}

.email span{
    padding-left: 20px;
}

.email a{
    color: white;
      text-decoration: none;
}

.email i{
    width: 18px;
    height: 18px;
}


.url{
       width: 251px;
     height: 45px;
    padding-bottom: 12px;
     margin-bottom: 12px;
      border-bottom: 0.5px;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-color: rgb(64, 59, 49);
    border-style: solid;
line-height: 2em;
    color: white;

}

.url span{
    padding-left: 20px;
}

.url a{
    color: white;
      text-decoration: none;
}

.url i{
    width: 18px;
    height: 18px;
}


.footerbottom{
    height: 384px;
     width: 1264px;
     padding-top:50px ;
     padding-bottom: 40px;
     background-color: #343027;
}

.botcontaner{

    width: 1106px;
    height: 374px;
    padding-left: 17px;
    padding-bottom: 17px;
    margin-left: 62px;
    margin-right: 62px;
}

.btrow{
    width: 1140px;
    height: 374px;

}

.footer_img{

    width: 1140px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.copy{
    width: 1106px;
    height: 33.5px;
    padding-right: 17px;
    padding-left: 17px;
}

.copy p{
     text-align: center;
    color:grey;
     font-family: "Alegreya";
     font-size: 18px;
}

.icon{
    display: flex;
    justify-content: center;
    width: 1140px;
    height: 72px;
    margin-top: 15px;
    padding-top: 8px;
}

.icon i {
    width: 55px;
    height: 55px;
    color: rgba(0, 0, 0);
    font-size: 24px;
    border: .1px solid ;
    background-color: rgb(59, 56, 51);
    border-radius: 50%;
    margin-inline: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}